<nav class='navbar navbar-expand-lg navbar-dark main-color py-3' xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class='container-fluid'>
        <span class='navbar-brand'>My Library</span>
        <button class='navbar-toggler' type='button'
                data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown'
                aria-controls={'navbarNavDropdown'} aria-expanded='false'
                aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarNavDropdown'>
            <ul class='navbar-nav'>
                <li sec:authorize="!isAuthenticated()" class='nav-item'>
                    <a class='nav-link' href='/'>Home</a>
                </li>
                <li sec:authorize="isAuthenticated()" class='nav-item'>
                    <a class='nav-link' href='/search'>Search Books</a>
                </li>
                <li sec:authorize="isAuthenticated()" class='nav-item'>
                    <a class='nav-link' href='/shelf'>Shelf</a>
                </li>
            </ul>
            <ul sec:authorize="!isAuthenticated()" class='navbar-nav ms-auto'>
                <li class='nav-item m-1'>
                    <a type='button' class='btn btn-outline-light' th:href="@{/users/login}">Sign in</a>
                </li>

            </ul>
            <form class='navbar-nav ms-auto'
                    sec:authorize="isAuthenticated()"
                  method="POST"
                  th:action="@{/users/logout}">
            <ul>
                <li class='nav-item m-1'>
                    <button type="submit" name="submit" class='btn btn-outline-light' >Logout</button>
                </li>

            </ul>
            </form>
        </div>
    </div>
</nav>