<nav class='navbar navbar-expand-lg navbar-dark main-color py-3'
     xmlns:sec="http://www.w3.org/1999/xhtml"

>
    <div class='container-fluid'>
        <span sec:authorize="!isAuthenticated()" class='navbar-brand'>My Library</span>
        <span sec:authorize="isAuthenticated()" class='navbar-brand'><th:block th:text="${#authentication.principal.getFirstName()}"/>'s Library</span>
        <button class='navbar-toggler' type='button'
                data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown'
                aria-controls={'navbarNavDropdown'} aria-expanded='false'
                aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarNavDropdown'>
            <ul class='navbar-nav'>
                <li class='nav-item'>
                    <a class='nav-link' th:href="@{/}">Home</a>
                </li>
                <li sec:authorize="isAuthenticated()" class='nav-item'>
                    <a class='nav-link' th:href="@{/search}">Search Books</a>
                </li>
                <li sec:authorize="isAuthenticated()" class='nav-item'>
                    <a class='nav-link' th:href="@{/shelf}">Shelf</a>
                </li>
                <li sec:authorize="isAuthenticated()" class='nav-item'>
                    <a class='nav-link' th:href="@{/messages}">Messages</a>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')" class='dropdown nav-item d-none d-lg-block'>
                    <div class='dropdown-toggle main-color nav-link' type='button'
                            id='dropdownMenuButton1' data-bs-toggle='dropdown'
                            aria-expanded='false'>
                        Admin
                    </div>
                    <ul class='dropdown-menu nav-item' aria-labelledby='dropdownMenuButton1'>
                        <li>
                            <a class='dropdown-item'
                               th:href="@{/admin/messages}">
                                Messages
                            </a>
                        </li>
                        <li>
                            <a class='dropdown-item'
                               th:href="@{/admin/quantity}">
                                Change quantity
                            </a>
                        </li>
                        <li>
                            <a class='dropdown-item'
                               th:href="@{/admin/book/add}">
                                Add new book
                            </a>
                        </li>
                        <li>
                            <a class='dropdown-item'
                               th:href="@{/admin/users}">
                                Manage users
                            </a>
                        </li>
                    </ul>
                </li>

<!--                Mobile dropdown-->

                <li sec:authorize="hasRole('ROLE_ADMIN')" class='dropdown nav-item d-lg-none'>
                    <div class='dropdown-toggle main-color nav-link' type='button'
                         id='mobileDropdownMenuButton1' data-bs-toggle='dropdown'
                         aria-expanded='false'>
                        Admin
                    </div>
                    <ul class='dropdown-menu main-color nav-item' aria-labelledby='mobileDropdownMenuButton1'>
                        <li>
                            <a class='dropdown-item nav-link'
                               th:href="@{/admin/messages}">
                                Messages
                            </a>
                        </li>
                        <li>
                            <a class='dropdown-item nav-link'
                               th:href="@{/admin/quantity}">
                                Change quantity
                            </a>
                        </li>
                        <li>
                            <a class='dropdown-item nav-link'
                               th:href="@{/admin/book/add}">
                                Add new book
                            </a>
                        </li>
                        <li>
                            <a class='dropdown-item nav-link'
                               th:href="@{/admin/users}">
                                Manage users
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>



            <ul sec:authorize="!isAuthenticated()" class='navbar-nav ms-auto'>
                <li class='nav-item m-1'>
                    <a type='button' class='btn btn-outline-light' th:href="@{/users/login}">Sign in</a>
                </li>

            </ul>
            <form class='navbar-nav ms-auto'
                    sec:authorize="isAuthenticated()"
                  method="POST"
                  th:action="@{/users/logout}">
            <ul>
                <li class='nav-item m-1'>
                    <button type="submit" name="submit" class='btn btn-outline-light' >Logout</button>
                </li>

            </ul>
            </form>
        </div>
    </div>
</nav>